.services
  width: 100%
  display: flex

  padding: 0 $responsive-padding
  padding-top: 100px
  padding-bottom: 58px
  background-color: #222222
  color: white
  &__title
    padding-top: 3px
    width: 50%
    display: block

.services__highlights
  @include feature(white)
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  padding-left: 41px
  width: 50%
  p
    color: rgba(255, 255, 255, 0.62)

.services__highlight
  width: 250px
  padding-bottom: 41px
