#app {
  position: relative;
  border-left: 1px solid grey;
  border-bottom: 1px solid grey;
  display: flex;
  align-items: end;
  margin: 20px;
  height: 150px;
  width: 500px;
}

#app > div {
  border: 2px solid white;
}

.green {
  background-color: lime;
}

.yellow {
  background-color: gold;
}

.red {
  background-color: red;
}

#max-label {
  position: absolute;
  top: 0;
  left: -20px;
}

#zero-label {
  position: absolute;
  bottom: -20px;
  left: -15px;
}

#points-label {
  position: absolute;
  bottom: -20px;
  right: 0;
}
