body
  margin: 0
  font-family: Arial, Helvetica, sans-serif

h1, h2, h3, h4
  margin: 0

ul
  list-style-type: none
  margin: 0
  padding: 0

p
  margin: 0

.container
  max-width: 1400px
  margin: auto

@font-face
  font-family: 'SF Pro Display'
  src: url('./fonts/SFProDisplay-Regular.ttf')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'SF Pro Display Semibold'
  src: url('./fonts/SFProDisplay-Semibold.ttf')
  font-weight: normal
  font-style: normal

/** @font-face
  font-family: 'Playfair Display'
  src: url('./fonts/PlayfairDisplay.ttf')
  font-weight: normal
  font-style: normal **/

@font-face 
  font-family: 'Playfair Display Semibold'
  src: url('./fonts/PlayfairDisplay-SemiBold.ttf')


/** @font-face
  font-family: 'SF Pro Display Regular'
  src: url('./fonts/SFProDisplay-Regular.ttf')
  font-weight: normal
  font-style: normal **/

@font-face
  font-family: 'SF Pro Display Medium'
  src: url('./fonts/SFProDisplay-Medium.ttf')
  font-weight: normal
  font-style: normal

@import "./sass/main"
@import "./sass/about"
